@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    /* font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic; */

}

body {
    background: rgb(219, 219, 219);
}

nav {
    /* border: 1px solid red; */
    position: sticky;
    top: 0;
}

.logo_con {
    /* border: 1px solid red; */
    background: blue;

}

.logo_img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.logo_img img {
    width: 60px;
    height: 60px;
    /* border: 1px solid red; */
}

.container {
    max-width: 100vw;
    margin: 0 auto;
}

.hero_con1 {
    /* border: 1px solid red; */
    height: 600px;
    display: flex;
    justify-content: center;
    margin: 10px;

}

.hero_con2 {
    /* border: 1px solid red; */
    background: #fff;
    width: 100vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}

.hero_text_con {
    /* border: 1px solid red; */
}

.text_1 {
    /* border: 1px solid red; */
    padding: 20px;
}

.text_1 span {
    font-size: 20px;
    color: blueviolet;
}

.text_1 h1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.btn_con button {
    padding: 10px 40px;
    margin: 0 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn_con button:hover {
    opacity: 0.9;
    box-shadow: 5px 5px 5px gray;
    text-decoration: underline;
}

.btn_login {
    color: #fff;
    background: rgb(183, 106, 255);
}

.btn_register {
    background: #cacaca;
    color: #000000;
}

.hero_img_con {
    width: 600px;
    height: 100%;
}

.hero_img_con img {
    /* border: 1px solid red; */
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.grid_item_con {
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
}

.text_grid {
    text-decoration: underline;
    margin-bottom: 12px;
}

.items_con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.items {
    /* border: 1px solid red; */
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.items_img {
    width: 100%;
}

.items_img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.items_text {
    padding: 10px 15px;
}

.hero_footer {
    width: 100%;
    margin: 15px 0;
    text-align: center;
}

.hero_footer img {
    width: 1200px;
    height: 500px;
    object-fit: cover;
}

footer {
    background: #2e2e2e;
    height: 200px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.footer_icon {
    margin-top: 15px;
    cursor: pointer;
}

.footer_icon i {
    font-size: 1.5rem;
    margin: 0 12px;
}

@media screen and (max-width:375px) {
    .hero_con1 {
        height: 400px;
    }

    .hero_con2 {
        width: 400px;
        row-gap: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .hero_img_con {
        width: 300px;
        height: 100vh;
    }

    .hero_img_con img {
        width: 300px;
        height: 200px;
        display: block;
    }

    .items_con {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 20px;

    }

    .hero_footer img {
        width: 200px;
        height: 200px;
    }

    .text_1 {
        /* width: 150px; */
    }

    .text_1 span {
        font-size: 15px;
        color: blueviolet;
    }

    .text_1 h1 {
        font-size: 25px;
        color: rgb(0, 0, 0);
    }

    .btn_con {
        display: flex;
    }

    .btn_con button {
        padding: 5px 10px;
        font-size: 8px;
    }

    .text_1 {
        /* border: 1px solid red; */
        padding: 0 5px;
    }

    .footer_text p {
        font-size: 12px;
    }

}


@media screen and (max-width:425px) {
    .hero_con1 {
        height: 400px;
    }

    .hero_con2 {
        width: 400px;
        row-gap: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .hero_img_con {
        width: 300px;
        height: 100vh;
    }

    .hero_img_con img {
        width: 300px;
        height: 200px;
        display: block;
    }

    .items_con {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 20px;

    }

    .hero_footer img {
        width: 380px;
        height: 200px;

    }

    .text_1 {
        /* width: 150px; */
    }

    .text_1 span {
        font-size: 15px;
        color: blueviolet;
    }

    .text_1 h1 {
        font-size: 25px;
        color: rgb(0, 0, 0);
    }

    .btn_con {
        display: flex;
    }

    .btn_con button {
        padding: 5px 10px;
        font-size: 8px;
    }

    .text_1 {
        /* border: 1px solid red; */
        padding: 0 5px;
    }

    .footer_text p {
        font-size: 12px;
    }

    .grid_item_con {
        margin: 10px;
    }
}